@model Webzine.WebApplication.Shared.ViewModels.CommentaireModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Supprimer un commentaire";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Supprimer un commentaire";
}
<hr />

<div>
    <div>
        <p>Etes-vous sûr de vouloir supprimer le commentaire suivant ? </p>

        <p class="fs-5">@Model.Commentaire.Contenu</p>
        <p>
            -
            <span class="fw-bold">@Model.Commentaire.Auteur</span>
            le @Model.Commentaire.DateCreation.ToString("dd/MM/yyyy HH:mm:ss") sur
            <span class="fst-italic">@Model.Commentaire.Titre</span>
        </p>

        @*Bouton de suppression.*@
        <button class="btn btn-danger mb-5" type="button">
            Supprimer
        </button>
    </div>

    @*Lien vers le retour à l'administration des commentaires.*@
    <div>
        <a class="text-decoration-none fw-normal" asp-area="Admin" asp-controller="Commentaire" asp-action="Index">
            Retour à l'administration des commentaires
        </a>
    </div>
</div>