@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Derniers titres chroniqués</h1>


<div>
    <div class="card flex-row">
        <img class="col-sm-3 card-img-left  example-card-img-responsive" src="~/images/image.jpg">
        <div class="card-body p-0 bg-primary">
            <h4 class="card-title ml-4 bg-dark">Left image</h4>
            <p class="card-text ml-4 bg-dark">Example text lorem</p>
            <div class="d-flex ml-4 bg-dark">
                <button class="btn btn-primary p-2">Lire la suite</button>
                <p><i class="fa-solid fa-house  p-2"></i>17/12/2022 <span>14:56:37</span></p>
                <p><i class="fa-solid fa-house  p-2"></i>Electro disco</p>
            </div>
        </div>
    </div>

    <div class="card flex-row">
        <img class="col-sm-3 card-img-left  example-card-img-responsive" src="~/images/image.jpg">
        <div class="card-body p-0 bg-primary">
            <h4 class="card-title ml-4 bg-dark">Left image</h4>
            <p class="card-text ml-4 bg-dark">Example text lorem</p>
            <div class="d-flex ml-4 bg-dark">
                <button class="btn btn-primary p-2">Lire la suite</button>
                <p><i class="fa-solid fa-house  p-2"></i>17/12/2022 <span>14:56:37</span></p>
                <p><i class="fa-solid fa-house  p-2"></i>Electro disco</p>
            </div>
        </div>
    </div>
    <div class="card flex-row">
        <img class="col-sm-3 card-img-left  example-card-img-responsive" src="~/images/image.jpg">
        <div class="card-body p-0 bg-primary">
            <h4 class="card-title ml-4 bg-dark">Left image</h4>
            <p class="card-text ml-4 bg-dark">Example text lorem</p>
            <div class="d-flex ml-4 bg-dark">
                <button class="btn btn-primary p-2">Lire la suite</button>
                <p><i class="fa-solid fa-house  p-2"></i>17/12/2022 <span>14:56:37</span></p>
                <p><i class="fa-solid fa-house  p-2"></i>Electro disco</p>
            </div>
        </div>
    </div>
    <h1>Titres les plus populaires</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/image.jpg" class="card-img-top w-100 h-auto" alt="Image de la carte 1">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Roky</h5>
                        <p class="card-text"><spa class=" text-primary">par</spa>Herbie Hancock</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/image.jpg" class="card-img-top w-100 h-auto" alt="Image de la carte 2">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Blade runner-end Tiles</h5>
                        <p class="card-text"><spa class=" text-primary">par</spa>Vangelis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/image.jpg" class="card-img-top w-100 h-auto" alt="Image de la carte 3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">So Flut</h5>
                        <p class="card-text"><spa class=" text-primary">par</spa>Saint Germai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


