<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3 fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="">Webzine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">

                    @*Lien vers l'Accueil*@
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="" class="nav-link text-decoration-none dropdown-item">
                            <i class="fa-solid fa-house m-1"></i>
                            Accueil
                        </a>
                    </li>

                    @*Menu Administration*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            Administration
                        </a>

                        <ul class="dropdown-menu">

                            <li>
                                <a asp-area="Admin" asp-controller="Dashboard" asp-action="" class="text-decoration-none dropdown-item">
                                    <i class="fa-solid fa-gauge"></i>
                                    Tableau de bord
                                </a>
                            </li>
                            <li class="dropdown-divider"></li> @*Trait ici*@
                            <li>
                                <a asp-area="Admin" asp-controller="Artiste" asp-action="" class="text-decoration-none dropdown-item">
                                    <i class="fa-solid fa-users"></i>
                                    Artistes
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Commentaire" asp-action="" class="text-decoration-none dropdown-item">
                                    <i class="fa-solid fa-comments"></i>
                                    Commentaires
                                </a>
                            </li>

                            <li>
                                <a asp-area="Admin" asp-controller="Style" asp-action="" class="text-decoration-none dropdown-item">
                                    <i class="fa-solid fa-tags"></i>
                                    Styles
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Titre" asp-action="" class="text-decoration-none dropdown-item">
                                    <i class="fa-solid fa-music"></i>
                                    Titres
                                </a>
                            </li>
                        </ul>
                    </li>

                    @*Lien vers la page Contact*@
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Contact" asp-action="" class="nav-link text-decoration-none dropdown-item"><i class="fa-solid fa-envelope  m-1"></i>Contact</a>
                    </li>
                </ul>

                @*Barre de recherche*@
                <form class="d-flex">
                    <div class="input-group">
                        <input class="form-control " type="text" placeholder="Trouver un artiste/titre">
                        <a asp-area="" asp-controller="Recherche" asp-action="" class="btn btn-primary text-decoration-none rounded-end"><i class="fa-solid fa-search"></i></a>
                        <i class="fa-solid fa-search"></i>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
