 
 @using Bogus
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.5.1-web/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3">
            <div class="container-fluid">
                <a class="navbar-brand"href="/">Webzine</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fa-solid fa-house m-1"></i>Accueil</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" ><i class="fa-solid fa-house m-1"></i>Tableau de bord</a></li>
                                <li><a class="dropdown-item" href="/Admin/Artiste/Read"><i class="fa-solid fa-house m-1"></i>Artistes</a></li>
                                <li><a class="dropdown-item" href="/Admin/Commentaire/Read"><i class="fa-solid fa-house m-1"></i>Commentaires</a></li>
                                <li><a class="dropdown-item" href="/Admin/Style/Read"><i class="fa-solid fa-house m-1"></i>Styles</a></li>
                                <li><a class="dropdown-item" href="/Admin/Titre/Read"><i class="fa-solid fa-house m-1"></i>Titres</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Contacts" asp-controller="Contact" asp-action="Contact"><i class="fa-solid fa-envelope  m-1"></i>Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="input-group">
                            <input class="form-control " type="text" placeholder="Trouver un artiste/titre">
                            <button class="btn btn-primary" type="button"><i class="fa-solid fa-search"></i></button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </nav>

    </header>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-9 p-5">
                @RenderBody()
            </div>
          
                <div class="col-sm-3 p-5">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-2 ">
                        <h2 class="">A propos</h2>
                        <p class="mb-0">Retrouver les dernières pépitres sur notre webzine</p>
                    </div>

                    <div class="p-2">
                        <h3 >Styles</h3>
                        @{
                            var faker = new Faker();
                            var nombreMots = 20;
                        }
                        <ul class="mb-0">
                            
                            @for(var i = 0; i<nombreMots; i++)
                            {
                                var motAleatoire = faker.Lorem.Word();
                                <li><a href="#">@motAleatoire</a></li>
                            }
                        </ul>
                    </div>

                   
                </div>
            </div>
           
       
    </div>

        <footer class="container-fluid border-top footer bg-dark ">  
            &copy; ASP.NET Core - DIIAGE 2023-2024 
         </footer>
        <script src="../lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>



</html>


