@model Webzine.WebApplication.Shared.ViewModels.ContactModel
@{
    Layout = "_Layout";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Contact";
}
<hr />

@foreach (string contact in Model.listString)
{
    <div>
        @contact
    </div>
}
<a> <i class="fa-solid fa-phone m-1"></i> 03 80 73 45 90; </a>
<br />
<a class="text-primary text-decoration-none"><i class="fa-solid fa-envelope m-1"></i> secretariat@cucdb.fr</a>

<h2 class="text-left">Suivez-Nous</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://diiage.cucdb.fr/" class="container w-75">
                <div class="mt-4 p-5 bg-light border-secondary text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-link"></i>
                    </div>
                    <p class="text-primary">
                        Site officiel du DIIAGE
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://www.facebook.com/diiage/" class="container w-75">
                <div class="mt-4 p-5 bg-light text-white text-center">
                    <div class="text-primary">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <p class="text-primary">
                        Facebook
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://www.instagram.com/diiage.cucdb/?hl=en" class="container w-75">
                <div class="mt-4 p-5 bg-light text-white text-center">
                    <div class="text-primary">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <p class="text-primary">
                        Instagram
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://fr.linkedin.com/company/diiage" class="container w-75">
                <div class="mt-4 p-5 bg-light text-white text-center">
                    <div class="text-primary">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <p class="text-primary">
                        LinkedIn
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://www.google.com/maps/place/C.U.C.D.B.+Centre+Universitaire+Catholique+De+Bourgogne/@@47.3348851,5.0514213,17z/data=!3m1!4b1!4m6!3m5!1s0x47f29dfee14743ed:0x7d1348ede68455cb!8m2!3d47.3348851!4d5.0540016!16s%2Fg%2F1td04cy3?entry=ttu" class="container w-75">
                <div class="mt-4 p-5 bg-light text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <p class="text-primary">
                        Google Maps
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="mt-4 p-5 bg-light text-white text-center">
                    <div class="text-primary">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <p class="text-primary">
                        Twitter
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>