@model Webzine.WebApplication.Areas.Titres.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Créer un titre";
}


<div class="container">
        @*Affichage du nom de la page*@
        <h3>Créer un titre</h3>
        <hr/>

</div>