@model Webzine.WebApplication.Shared.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Supprimer un titre";
}


@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Supprimer un titre";
}
<hr />

        <p>Etes-vous sûr de vouloir supprimer @Model.Titre.Libelle de @Model.Titre.Artiste.Nom </p>

        @*Bouton de suppression*@
    <button type="button" class="btn btn-danger">Supprimer</button>
</div>

@*Lien vers le retour à l'administration du titre*@
<div>
    <a href="/Admin/Titre/">Retour à l'administration des titres'</a>
</div>