@model Webzine.WebApplication.Shared.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Supprimer un titre";
}


<div class="container">
        @*Affichage du nom de la page*@
        <h3>Supprimer un titre</h3>
        <hr/>

        <p>Etes-vous sûr de vouloir supprimer @Model.Titre.Libelle de @Model.Titre.Artiste.Nom </p>

        @*Bouton de suppression*@
    <button type="button" class="btn btn-danger">Supprimer</button>
</div>

@*Lien vers le retour à l'administration du titre*@
<div>
    <a href="/Admin/Titre/">Retour à l'administration des titres'</a>
</div>