@model Webzine.WebApplication.Areas.Admin.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Liste des titres";
}

@{
<div class="container">
        @*Affichage du nom de la page*@
        <h3>Titres</h3>
        <hr/>

       

       

   

</div>
}






