@model Webzine.WebApplication.Areas.Admin.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Liste des titres";
}

@{
<div class="container">
        @*Affichage du nom de la page*@
        <h3>Titres</h3>
        <hr/>

        @*Création du bouton "Ajouter un nouveau titre*@
        <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        Ajouter un nouveau titre</button>

       

       

   

</div>
}






