@model Webzine.WebApplication.Views.Shared.ViewModels.StyleModel

@{
    ViewData["Title"] = "AdminStyleAjout";
}

<h1>Créer un style</h1>
<hr />
<form class="col-6 d-flex">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-auto">
                <label for="style" class="form-label">Libellé <span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="text" class="form-control">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>
        
        <a class="text-decoration-none fw-normal" href="#">Retour à l'administration des styles </a>
    </div>
</form>
