@model Webzine.WebApplication.Shared.ViewModels.StyleModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["Title"] = "Supprimer un style";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Supprimer un style";
}
<hr />

<form asp-area="Admin" asp-controller="Style" asp-action="Delete" method="post" class="col-6 d-flex" class="col-6 d-flex">
    <div class="container">
        <div class="row align-items-center mb-5">
            <p>Etes-vous sûr de vouloir supprimer le style de musique <span>"@Model.Style.Libelle"</span> ?</p>
            <div class="col-auto">
                @*Bouton de suppression du style.*@
                <a class="btn btn-danger" href="#">Suprimer</a>
            </div>
        </div>

        @*Bouton de retour à l'adminitration des styles.*@
        <a class="text-decoration-none fw-normal" asp-area="Admin" asp-controller="Style" asp-action="Index">Retour à l'administration des styles </a>
    </div>
</form>
