@model Webzine.WebApplication.Areas.Contacts.ViewModels.ContactModel
@{
    Layout = "_Layout";
}

<h2>Contact</h2>

@foreach (string contact in Model.listString)
{
    <p>
        @contact
    </p>
}

<h2>Suivez-Nous</h2>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://diiage.cucdb.fr/" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-solid fa-link"></i>
                    </div>
                    <p>
                        Site officiel du DIIAGE
                    </p>
                </div>
            </a>
            <a href="https://www.facebook.com/diiage/" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <p>
                        Facebook
                    </p>
                </div>
            </a>
            <a href="https://www.instagram.com/diiage.cucdb/?hl=en" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <p>
                        Instagram
                    </p>
                </div>
            </a>
        </div>
        <div class="d-flex justify-content-around">
            <a href="https://fr.linkedin.com/company/diiage" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <p>
                        LinkedIn
                    </p>
                </div>
            </a>
            <a href="https://www.google.com/maps/place/C.U.C.D.B.+Centre+Universitaire+Catholique+De+Bourgogne/@@47.3348851,5.0514213,17z/data=!3m1!4b1!4m6!3m5!1s0x47f29dfee14743ed:0x7d1348ede68455cb!8m2!3d47.3348851!4d5.0540016!16s%2Fg%2F1td04cy3?entry=ttu" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <p>
                        Google Maps
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="mt-4 p-5 bg-black text-white text-center">
                    <div>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <p>
                        Twitter
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>