<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<target xsi:type="File"
			name="LogFile"
			fileName="${basedir}/log/${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="Console"
			name="Console" />
	</targets>

	<rules>
		<logger name="Webzine.WebApplication.*" minlevel="Debug" writeTo="Console" />
		<logger name="Webzine.WebApplication.*" minlevel="Info" writeTo="LogFile" />
	</rules>
</nlog>
<!-- Log levels : Trace, Debug, Info, Warn, Error, Fatal, Off -->