
@model Webzine.WebApplication.Areas.Artistes.ViewModels.ListeArtistesModel
@{
    Layout = "_Layout";
}
<h3>Liste des Artistes</h3>
@foreach(var artiste in Model.Artistes)
{
    <p>Id: @artiste.IdArtiste</p>
    <p>Nom: @artiste.Nom</p>
    <p>Biographie: @artiste.Biographie</p>
}
