@model Webzine.WebApplication.Areas.Artistes.ViewModels.ListeArtistesModel

<h3>Liste des Artistes</h3>
@foreach(var artiste in Model.Artistes)
{
    <p>Nom: @artiste.Nom;</p>
    <p>Biographie: @artiste.Biographie;</p>
}
