@model Webzine.WebApplication.Shared.ViewModels.GroupeStyleModel;

<div class="position-sticky" style="top: 2rem;">
    <partial name="_AProposVuePartielle.cshtml" />

    <div class="p-2">
        <h3>Styles</h3>
        <ul class="mb-0">

            @foreach (var style in Model.Styles)
            {
                <li><a asp-area="" asp-controller="Titre" asp-action="Style" class=" dropdown-item text-primary">@style.Libelle</a></li>
            }
        </ul>
    </div>
</div>
