@model Webzine.WebApplication.ViewModels.StyleModel;

<div class="position-sticky">
    <partial name="_AProposVuePartielle.cshtml" />

    <div class="p-2">
        <h3>Styles</h3>
        <ul class="mb-0">

            @foreach (var style in Model.Styles)
            {
                <li><a asp-area="" asp-controller="titre" asp-action="style" asp-route-style="@style.Libelle" class="dropdown-item text-primary">@style.Libelle</a></li>

            }
        </ul>
    </div>
</div>
