@model Webzine.WebApplication.Shared.ViewModels.GroupeTitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Recherche";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}


@*Affichage du nom de la page.*@
@foreach (var titre in Model.Titres)
{
        ViewData["titrePage"] = $"Résultats de la recherche pour \"{titre.Libelle}\"";
}
<hr />
<p class="fs-2">Artistes</p>
<p>Aucun artiste.</p>

<p class="fs-2">Titres</p>
<p>Aucun titre.</p>