@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "AdminStyle";
}

    <div class="container">
        <h1>Styles</h1>
        <hr />
    <button class="btn btn-primary"><i class="fa-solid fa-trash text-white p-1"></i>Ajouter un nouvelstyle</button>
        <table class="table">
        <thead class="bg-primary text-white">
            <tr>
                <th scope="col" style="width: 90%;">Libellé</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ligne 1</td>
                    <td>
                    <a><i class="fa-solid fa-edit text-primary p-2"></i></a>
                    <a><i class="fa-solid fa-trash text-primary"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Ligne 2</td>
                    <td>
                    <a><i class="fa-solid fa-edit text-primary p-2"></i></a>
                    <a><i class="fa-solid fa-trash text-primary"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Ligne 3</td>
                    <td>
                    <a><i class="fa-solid fa-edit text-primary p-2"></i></a>
                    <a><i class="fa-solid fa-trash text-primary"></i></a>
                    </td>
                </tr>
                <!-- Ajoutez les autres lignes ici -->
            </tbody>
        </table>
    </div>


