@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "AdminStyleAjout";
}

<h1>Suprimer un style</h1>
<hr />
<form class="col-6 d-flex">
    <div class="container">
        <div class="row align-items-center mb-5">
            <p>Etes-vous sûr de vouloir supprimer le style de musique <span>"Jazz"</span>?</p>
            <div class="col-auto">
                <button type="button" class="btn btn-danger">Suprimer</button>
            </div>
        </div>

        <a class="text-decoration-none fw-normal" href="#">Retour à l'administration des styles </a>
    </div>
</form>
