@model Webzine.WebApplication.Shared.ViewModels.ArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Créer un artiste";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Créer un artiste";
}
<hr />

@*Formulaire de création de l'artiste.*@
<form method="post" asp-action="CreateConfirmed" asp-controller="Artiste" class="d-flex">
    <div class="container">
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="Artiste.Nom" class="form-label required-label"></label>
            </div>
            <div class="col-md-10">
                <input asp-for="Artiste.Nom" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="Artiste.Biographie" class="form-label"></label>
            </div>
            <div class="col-md-10">
                <textarea asp-for="Artiste.Biographie" class="form-control"></textarea>
            </div>
        </div>

        @*Bouton d'ajout de l'artiste.*@
        <div class="form-group row mb-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div>
                    <button type="submit" class="btn btn-primary mb-5">
                        Créer
                    </button>
                </div>
            </div>
        </div>

        @*Bouton de retour à l'adminitration des artistes.*@
        <a class=" fw-normal" asp-area="Admin" asp-controller="Artiste" asp-action="Index">
            Retour à l'administration des artistes
        </a>
    </div>
</form>
