@model Webzine.WebApplication.Shared.ViewModels.ArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Supprimer un artiste";
}


<div class="container">
        @*Affichage du nom de la page*@
        <h3>Supprimer un artiste</h3>
        <hr/>
        <p>Etes-vous sûr de vouloir supprimer l'artiste "@Model.Artiste.Nom"? </p>

        @*Bouton de suppression*@
    <button type="button" class="btn btn-danger">Supprimer</button>
</div>

@*Lien vers le retour à l'administration du titre*@
<div>
    <a href="/Admin/Artiste/">Retour à l'administration des artistes'</a>
</div>