@model Webzine.WebApplication.Shared.ViewModels.ArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Editer un artiste";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Editer un artiste";
}
<hr />

@*Formulaire d'édition de l'artiste*@
<form method="post" asp-action="EditConfirmed" asp-controller="Artiste" class="d-flex">
    <div class="container">
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Artiste.Nom" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Artiste.Nom" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Artiste.Biographie" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <textarea asp-for="@Model.Artiste.Biographie" type="text" class="form-control"></textarea>
            </div>
        </div>

        @*Bouton d'édition de l'artiste.*@
        <div class="form-group row mb-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary mb-5">
                    Sauvegarder
                </button>
            </div>
        </div>

        @*Bouton de retour à l'adminitration des aristes.*@
        <a class="text-decoration-none fw-normal" asp-area="Admin" asp-controller="Artiste" asp-action="Index">
            Retour à l'administration des artistes
        </a>
    </div>
</form>


