@model Webzine.WebApplication.Shared.ViewModels.GroupeArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Liste des artistes";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Artistes";
}
<hr />

<div class="container">

    @*Création du bouton "Ajouter un nouvel artiste.*@
    <a asp-area="Admin" asp-controller="Artiste" asp-action="Create" class="btn btn-primary mb-4">
        <i class="fa-solid fa-plus button"></i>
        Ajouter un nouvel artiste
    </a>

    @*Afficher la liste des artistes.*@
    <table class="table table-striped table-bordered">

        <thead>
            <tr class="table-secondary custom-no-border">
                <th scope="col">Nom de l'artiste</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artiste in Model.Artistes)
            {
                <tr>
                    <td>@artiste.Nom</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Artiste" asp-action="Edit" asp-route-id="@artiste.IdArtiste">
                                <i class="fa-solid fa-edit text-primary p-2 icone"></i>
                            </a>
                            <a asp-area="Admin" asp-controller="Artiste" asp-action="Delete" asp-route-id="@artiste.IdArtiste">
                                <i class="fa-solid fa-trash text-primary icone"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex  justify-content-end">
    <a class="btn btn-secondary p-2" asp-area="Admin" asp-controller="Artiste" asp-action="">
        Artistes plus anciens >>
    </a>
</div>